body {
    font-family: Arial, sans-serif;
    background-color: #5e5e5e;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 1px 3px 5px rgb(0, 0, 0);
}

.ahorro {
    margin: 2.5rem;
}

input {
    border: none;
    border-radius: 12px;
    font-size: 16px;
    height: auto;
    width: 9%;
    padding: 15px;
    background-color: #ffffff;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

input, button {
    padding: 10px;
    margin: 10px;
}

.button-main-save {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-main-save:hover {
    background-color: #45a049;
}

.button-main-save:active {
    background-color: #3e8e41;
}

.button-main-rest {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-main-rest:hover {
    background-color: #45a049;
}

.button-main-rest:active {
    background-color: #3e8e41;
}

#savings-status {
    
    margin-top: 20px;
    color: #b4b4b4;
    font-weight: bold;
}

h4{
    color: #ffffff;
}

h4 strong{
    color: #000000;
}